.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

gradle/wrapper/gradle-wrapper.properties

build.gradle

.idea/gradle.xml

app/build.gradle

app/app.iml

app/build.gradle

app/build.gradle

build.gradle

.idea/gradle.xml

.idea/vcs.xml

app/app.iml
